* {
  box-sizing: border-box;
}

header {
  display: flex;
  width: 108px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 19px;
  margin-top: 90px;
  align-items: flex-end;
  margin-left: 442px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 937px;
  margin: auto;
  row-gap: 17px;
  column-gap: 25px;
}
