*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #edf2f7;
    margin: 0;
    padding: 0;
    font-family:'Nunito', sans-serif;
    font-style: normal;
    color: #000000;
     
}

.all-form {
    width: 443px;
    margin: auto;
    margin-top: 134px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

}

.all-form h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 140.62%;
    text-align: center;
    margin-bottom: 12px;
}

.all-form h2 {
    font-weight: normal;
    font-size: 19.8px;
    line-height: 140.62%;
    text-align: center;
    margin-bottom: 20px;
    
}

label, p, .form-rbtn label {
    font-weight: bold;
    font-size: 14px;
    line-height: 140.62%;
    text-transform: uppercase;
}

span {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #4a5568;
    text-transform: none;
}

.form-element {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}


.form-element input, select {
    height: 46px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
}

.select-languages {
    height: 91px;
    width: 200px;
}
.form-element option {
    font-size: 16px;
    line-height: 140.62%;
    font-weight: normal;
}

.form-rbtn{
    margin-bottom: 10px;
}
.form-rbtn label{
    display: inline;
    margin-right: 8px;
    text-transform: none;
}
.form-rbtn input {
 margin-right: 8px;
}

.form-checkbox label {
    text-transform: none;
   
}

.form-checkbox input {
    margin-right: 8px;
}

::-webkit-input-placeholder {
    font-size: 18px;
       
}
 

 .submit-btn {
    margin-bottom: 154px;
    width: 443px;
    height: 40px;
    background-color: #718096;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 140.62%;
    text-align: center;
    margin-top: 10px;
}